<!DOCTYPE html>
<html lang="en">
<head>
	<base href=".">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#607D8B">
	<title>
		EventType &bull; gs-tools
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
	<!-- Angular Material -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
	<!-- Fuse.js -->
	<script src="../assets/js/fuse.js"></script>
	<!-- Highlight.js -->
	<link rel="stylesheet" href="../assets/css/monokai.css">
	<script src="../assets/js/highlight.pack.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../assets/css/breadcrumb.css">
	<link rel="stylesheet" href="../assets/css/code.link.css">
	<link rel="stylesheet" href="../assets/css/comment.css">
	<link rel="stylesheet" href="../assets/css/default.css">
	<link rel="stylesheet" href="../assets/css/gettersetter.css">
	<link rel="stylesheet" href="../assets/css/hierarchy.css">
	<link rel="stylesheet" href="../assets/css/index.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/member.css">
	<link rel="stylesheet" href="../assets/css/member.declaration.css">
	<link rel="stylesheet" href="../assets/css/member.signatures.css">
	<link rel="stylesheet" href="../assets/css/member.sources.css">
	<link rel="stylesheet" href="../assets/css/navigation.css">
	<link rel="stylesheet" href="../assets/css/reflection.css">
	<link rel="stylesheet" href="../assets/css/toc.css">
	<link rel="stylesheet" href="../assets/css/typeParameters.css">
	<!-- Custom js -->
	<script src="../assets/js/search.js"></script>
</head>
<body
layout="column"
ng-app="DocApp"
ng-class="{'gs-default__hide-inherited': hideInherited}"
ng-controller="RootCtrl">
<section class="gs-default__header" layout="row" layout-align="space-between center">
	<div layout="column">
		<header>
			<h1 class="gs-default__project-name">
				<a href="../index.html">gs-tools</a>
			</h1>
		</header>
		<div>        <a class="gv-breadcrumb__item" href="../globals.html">Globals</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="../modules/_event_listenable_element_.html">&quot;event/listenable-element&quot;</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="_event_listenable_element_.eventtype.html">EventType</a>
		</div>
	</div>
	<div class="gs-default__search-container" flex layout="row" layout-align="end center">
		<md-button
		class="md-icon-button gs-default__search-button"
		ng-class="{'gs-default__search-button--active': isSearchActive}"
		ng-click="onSearchClick()">
		<md-icon>search</md-icon>
		</md-button>
		<md-autocomplete
		class="gs-default__search"
		md-selected-item="selectedItem"
		md-search-text="searchText"
		md-items="item in querySearch(searchText)"
		md-item-text="item.name"
		md-min-length="0"
		md-selected-item-change="onSelectedItemChange(item)"
		ng-class="{'gs-default__search--active': isSearchActive}"
		placeholder="Search ...">
		<md-item-template>
			<div md-highlight-text="searchText" md-highlight-flags="i">
				{{item.parent}}.{{item.name}}
			</div>
		</md-item-template>
		</md-autocomplete>
	</div>
</section>
<section flex layout="row">
	<section class="gs-default__navigation-bar md-body-1" layout="column">
		<md-content flex>
			<nav>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__globals"
					href="../globals.html">
					Globals
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__member" href="../modules/_event_listenable_element_.html">
						&quot;event/listenable-element&quot;
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
			</nav>
			<md-divider></md-divider>
			<nav layout="column" layout-align="star end">
				<div layout="column">
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-enum tsd-parent-kind-external-module" layout="row">
							<a href="_event_listenable_element_.eventtype.html">Event<wbr>Type</a>
						</div>
						<div class="gs-toc__children tsd-kind-enum tsd-parent-kind-external-module">
							<div class="gs-toc__entry tsd-kind-enum-member tsd-parent-kind-enum" layout="row">
								<a href="_event_listenable_element_.eventtype.html#beforeunload">BEFOREUNLOAD</a>
							</div>
							<div class="gs-toc__entry tsd-kind-enum-member tsd-parent-kind-enum" layout="row">
								<a href="_event_listenable_element_.eventtype.html#click">CLICK</a>
							</div>
							<div class="gs-toc__entry tsd-kind-enum-member tsd-parent-kind-enum" layout="row">
								<a href="_event_listenable_element_.eventtype.html#load">LOAD</a>
							</div>
							<div class="gs-toc__entry tsd-kind-enum-member tsd-parent-kind-enum" layout="row">
								<a href="_event_listenable_element_.eventtype.html#scroll">SCROLL</a>
							</div>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="../classes/_event_listenable_element_.listenableelement.html">Listenable<wbr>Element</a>
						</div>
					</div>
				</div>
			</nav>
		</md-content>
		<div class="gs-default__toggle">
			<md-switch ng-model="hideInherited">
				Hides inherited
			</md-switch>
		</div>
	</section>
	<md-content class="gs-default__content" flex>
		<section class="tsd-panel tsd-comment">
			<div class="md-body-1">
				<p>Corresponds to DOM events. This must be the upper case version of the corresponding DOM events.</p>
			</div>
		</section>
		<header class="">
			<h2 class="md-display-1">Enumeration members</h2>
		</header>
		<a name="beforeunload" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-enum-member tsd-parent-kind-enum">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					BEFOREUNLOAD
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/event/listenable-element.ts#L13">
					<md-tooltip direction="bottom">
						event/listenable-element.ts:13
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
		<section class="gs-member__definition tsd-kind-enum-member tsd-parent-kind-enum">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<div class="md-body-1">
					<p>The <code>beforeunload</code> DOM event.</p>
				</div>
			</div>
		</section>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
		<a name="click" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-enum-member tsd-parent-kind-enum">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					CLICK
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/event/listenable-element.ts#L18">
					<md-tooltip direction="bottom">
						event/listenable-element.ts:18
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
		<section class="gs-member__definition tsd-kind-enum-member tsd-parent-kind-enum">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<div class="md-body-1">
					<p>The <code>click</code> DOM event.</p>
				</div>
			</div>
		</section>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
		<a name="load" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-enum-member tsd-parent-kind-enum">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					LOAD
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/event/listenable-element.ts#L23">
					<md-tooltip direction="bottom">
						event/listenable-element.ts:23
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
		<section class="gs-member__definition tsd-kind-enum-member tsd-parent-kind-enum">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<div class="md-body-1">
					<p>The <code>load</code> DOM event.</p>
				</div>
			</div>
		</section>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
		<a name="scroll" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-enum-member tsd-parent-kind-enum">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					SCROLL
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/event/listenable-element.ts#L28">
					<md-tooltip direction="bottom">
						event/listenable-element.ts:28
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
		<section class="gs-member__definition tsd-kind-enum-member tsd-parent-kind-enum">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<div class="md-body-1">
					<p>The <code>scroll</code> DOM event.</p>
				</div>
			</div>
		</section>
		<md-divider class="tsd-kind-enum-member tsd-parent-kind-enum"></md-divider>
	</md-content>
</section>
<script type="text/javascript">
    var BASE_URL = '..';
    hljs.initHighlightingOnLoad();
    angular
        .module('DocApp', ['ngMaterial'])
        .config(function($mdIconProvider, $mdThemingProvider) {
          $mdIconProvider.defaultFontSet('material-icons');
          $mdThemingProvider
              .theme('default')
              .primaryPalette('blue-grey')
              .accentPalette('yellow', {
                'default': 'A700'
              });
        })
        .controller('RootCtrl', function($scope) {
          var isInit = false;
          var rows = typedoc.search.data.rows;
          var fuse = new Fuse(rows, {
            'keys': ['name']
          });

          $scope['hideInherited'] = true;
          $scope['isSearchActive'] = false;
          $scope['onSearchClick'] = function() {
            $scope['isSearchActive'] = !$scope['isSearchActive'];

            if ($scope['isSearchActive']) {
              var inputEl = document.querySelector('.gs-default__search input');
              inputEl.focus();
              if (!isInit) {
                inputEl.addEventListener('blur', function() {
                  $scope['isSearchActive'] = false;
                  $scope.$apply(function() {});
                });
                isInit = true;
              }
            }
          };
          $scope['onSelectedItemChange'] = function(item) {
            window.location = BASE_URL + '/' + item.url;
          };
          $scope['querySearch'] = function(query) {
            return fuse.search(query);
          };
        });
  </script>
</body>
</html>