<div class="gs-code">
  {{#each types}}
    <div>
      <div>
        <md-icon>keyboard_arrow_right</md-icon>
        <span>
          {{#if ../isTarget}}
            {{this}}
          {{else}}
            {{> type}}
          {{/if}}
        </span>
      </div>
      <div class="gs-hierarchy__children">
        {{#if @last}}
          {{#with ../../next}}
            {{> hierarchy}}
          {{/with}}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
