<div class="gs-code">
  {{#each types}}
    <div>
      <div>
        <md-icon>keyboard_arrow_right</md-icon>
        {{#if ../isTarget}}
          <span class="gs-hierarchy__target">{{this}}</span>
        {{else}}
          <span>{{> type}}</span>
        {{/if}}
      </div>
      <div class="gs-hierarchy__children">
        {{#if @last}}
          {{#with ../../next}}
            {{> hierarchy}}
          {{/with}}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
