<a name="{{anchor}}" class="tsd-anchor"></a>
<header class="gs-sticky">
  <h3>
    {{#if name}}
      {{#each flags}}{{this}}
      {{/each}}
      <span class="gs-member__signature">
        {{> gs.signature}}
      </span>
      {{#if sources}}
        {{#each sources}}
          {{> code.link}}
        {{/each}}
      {{/if}}
    {{/if}}
  </h3>
</header>

<md-divider></md-divider>
<section class="gs-member__definition">
  {{#if signatures}}
  {{> member.signatures}}
  {{else}}{{#if hasGetterOrSetter}}
  {{> member.getterSetter}}
  {{else}}
  {{> member.declaration}}
  {{/if}}{{/if}}
</section>
<md-divider></md-divider>
<section class="gs-member__children">
  {{#each groups}}
    {{#each children}}
      {{#unless hasOwnDocument}}
        {{> member}}
      {{/unless}}
    {{/each}}
  {{/each}}
</section>
<md-divider></md-divider>
