<aside class="gs-member-sources__root md-caption">
  {{#if implementationOf}}
    <p>Implementation of <span class="gs-code"{{#with implementationOf}}{{> typeAndParent}}{{/with}}</span></p>
  {{/if}}
  {{#if inheritedFrom}}
    <p>Inherited from <span class="gs-code">{{#with inheritedFrom}}{{> typeAndParent}}{{/with}}</span></p>
  {{/if}}
  {{#if overwrites}}
    <p>Overwrites <span class="gs-code">{{#with overwrites}}{{> typeAndParent}}{{/with}}</span></p>
  {{/if}}
</aside>
