{
  "compilerOptions": {
    "experimentalDecorators": true,
    "lib": [
      "dom",
      "es2015"
    ],
    "module": "commonjs",
    "outDir": "dist",
    "sourceMap": true,
    "target": "es6"
  },
  "include": [
    {INCLUDES}
  ]
}