<!DOCTYPE html>
<html lang="en">
<head>
	<base href=".">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#607D8B">
	<title>
		FluentRecord &bull; gs-tools
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
	<!-- Angular Material -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
	<!-- Fuse.js -->
	<script src="../assets/js/fuse.js"></script>
	<!-- Highlight.js -->
	<link rel="stylesheet" href="../assets/css/monokai.css">
	<script src="../assets/js/highlight.pack.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../assets/css/breadcrumb.css">
	<link rel="stylesheet" href="../assets/css/code.link.css">
	<link rel="stylesheet" href="../assets/css/comment.css">
	<link rel="stylesheet" href="../assets/css/default.css">
	<link rel="stylesheet" href="../assets/css/gettersetter.css">
	<link rel="stylesheet" href="../assets/css/hierarchy.css">
	<link rel="stylesheet" href="../assets/css/index.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/member.css">
	<link rel="stylesheet" href="../assets/css/member.declaration.css">
	<link rel="stylesheet" href="../assets/css/member.signatures.css">
	<link rel="stylesheet" href="../assets/css/member.sources.css">
	<link rel="stylesheet" href="../assets/css/navigation.css">
	<link rel="stylesheet" href="../assets/css/reflection.css">
	<link rel="stylesheet" href="../assets/css/toc.css">
	<link rel="stylesheet" href="../assets/css/typeParameters.css">
	<!-- Custom js -->
	<script src="../assets/js/search.js"></script>
</head>
<body
layout="column"
ng-app="DocApp"
ng-class="{'gs-default__hide-inherited': hideInherited}"
ng-controller="RootCtrl">
<section class="gs-default__header" layout="row" layout-align="space-between center">
	<div layout="column">
		<header>
			<h1 class="gs-default__project-name">
				<a href="../index.html">gs-tools</a>
			</h1>
		</header>
		<div>        <a class="gv-breadcrumb__item" href="../globals.html">Globals</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="../modules/_collection_records_.html">&quot;collection/records&quot;</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="_collection_records_.fluentrecord.html">FluentRecord</a>
		</div>
	</div>
	<div class="gs-default__search-container" flex layout="row" layout-align="end center">
		<md-button
		class="md-icon-button gs-default__search-button"
		ng-class="{'gs-default__search-button--active': isSearchActive}"
		ng-click="onSearchClick()">
		<md-icon>search</md-icon>
		</md-button>
		<md-autocomplete
		class="gs-default__search"
		md-selected-item="selectedItem"
		md-search-text="searchText"
		md-items="item in querySearch(searchText)"
		md-item-text="item.name"
		md-min-length="0"
		md-selected-item-change="onSelectedItemChange(item)"
		ng-class="{'gs-default__search--active': isSearchActive}"
		placeholder="Search ...">
		<md-item-template>
			<div md-highlight-text="searchText" md-highlight-flags="i">
				{{item.parent}}.{{item.name}}
			</div>
		</md-item-template>
		</md-autocomplete>
	</div>
</section>
<section flex layout="row">
	<section class="gs-default__navigation-bar md-body-1" layout="column">
		<md-content flex>
			<nav>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__globals"
					href="../globals.html">
					Globals
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__member" href="../modules/_collection_records_.html">
						&quot;collection/records&quot;
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
			</nav>
			<md-divider></md-divider>
			<nav layout="column" layout-align="star end">
				<div layout="column">
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-has-type-parameter" layout="row">
							<a href="_collection_records_.fluentrecord.html">Fluent<wbr>Record</a>
						</div>
						<div class="gs-toc__children tsd-kind-class tsd-parent-kind-external-module tsd-has-type-parameter">
							<div class="gs-toc__entry tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite" layout="row">
								<a href="_collection_records_.fluentrecord.html#constructor">constructor</a>
							</div>
							<div class="gs-toc__entry tsd-kind-get-signature tsd-parent-kind-class tsd-is-inherited" layout="row">
								<a href="_collection_records_.fluentrecord.html#data">data</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class" layout="row">
								<a href="_collection_records_.fluentrecord.html#addall">add<wbr>All</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class" layout="row">
								<a href="_collection_records_.fluentrecord.html#filter">filter</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class" layout="row">
								<a href="_collection_records_.fluentrecord.html#foreach">for<wbr>Each</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter" layout="row">
								<a href="_collection_records_.fluentrecord.html#mapvalue">map<wbr>Value</a>
							</div>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="_collection_records_.records.html">Records</a>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-interface tsd-parent-kind-external-module tsd-has-type-parameter tsd-is-not-exported" layout="row">
							<a href="../interfaces/_collection_records_.irecord.html">IRecord</a>
						</div>
					</div>
				</div>
			</nav>
		</md-content>
		<div class="gs-default__toggle">
			<md-switch ng-model="hideInherited">
				Hides inherited
			</md-switch>
		</div>
	</section>
	<md-content class="gs-default__content" flex>
		<section class="tsd-panel tsd-comment">
			<div class="md-body-1">
				<p>Chainable object to manipulate a record.</p>
			</div>
		</section>
		<section class="gs-reflection__section">
			<h3>Type parameters</h3>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					T      </td>
					<td>
						<div class="md-body-1">
							<p>Type of the record&#39;s value.</p>
						</div>
					</td>
				</tr>
			</table>
		</section>
		<section class="gs-reflection__section">
			<h3>Hierarchy</h3>
			<div class="gs-code">
				<div>
					<div>
						<md-icon>keyboard_arrow_right</md-icon>
						<span><a href="_collection_base_fluent_.basefluent.html" class="tsd-signature-type">BaseFluent</a><span class="tsd-signature-symbol">&lt;</span><a href="../interfaces/_collection_records_.irecord.html" class="tsd-signature-type">IRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span><span class="tsd-signature-symbol">&gt;</span></span>
					</div>
					<div class="gs-hierarchy__children">
						<div class="gs-code">
							<div>
								<div>
									<md-icon>keyboard_arrow_right</md-icon>
									<span class="gs-hierarchy__target">FluentRecord</span>
								</div>
								<div class="gs-hierarchy__children">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<header class="">
			<h2 class="md-display-1">Constructors</h2>
		</header>
		<a name="constructor" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					new <wbr>Fluent<wbr>Record(data: <a href="../interfaces/_collection_records_.irecord.html" class="tsd-signature-type">IRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span>): <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/collection/records.ts#L18">
					<md-tooltip direction="bottom">
						collection/records.ts:18
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite"></md-divider>
		<section class="gs-member__definition tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite">
			<aside class="gs-member-sources__root md-caption">
				<p>Overwrites <span class="gs-code"><a href="_collection_base_fluent_.basefluent.html">BaseFluent</a>.<a href="_collection_base_fluent_.basefluent.html#constructor">constructor</a></span></p>
			</aside>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					data</td><td class="gs-code"><a href="../interfaces/_collection_records_.irecord.html" class="tsd-signature-type">IRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span>          </td>
					<td>
						<div class="md-body-1">
							<p>The underlying record object to modify.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a></h4>
		</section>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite"></md-divider>
		<header class="tsd-is-inherited">
			<h2 class="md-display-1">Accessors</h2>
		</header>
		<a name="data" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-get-signature tsd-parent-kind-class tsd-is-inherited">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					<span class="gs-code">
					<span class="gs-gettersetter__keyword">get</span> data: <a href="../interfaces/_collection_records_.irecord.html" class="tsd-signature-type">IRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span>  </span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/collection/base-fluent.ts#L19">
					<md-tooltip direction="bottom">
						collection/base-fluent.ts:19
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-get-signature tsd-parent-kind-class tsd-is-inherited"></md-divider>
		<section class="gs-member__definition tsd-kind-get-signature tsd-parent-kind-class tsd-is-inherited">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_collection_base_fluent_.basefluent.html">BaseFluent</a>.<a href="_collection_base_fluent_.basefluent.html#data">data</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>The underlying data object.</p>
			</div>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
		</section>
		<md-divider class="tsd-kind-get-signature tsd-parent-kind-class tsd-is-inherited"></md-divider>
		<header class="">
			<h2 class="md-display-1">Methods</h2>
		</header>
		<a name="addall" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					add<wbr>All(map: <span>Map</span><span class="tsd-signature-symbol">&lt;</span><span>string</span><span class="tsd-signature-symbol">, </span><span>T</span><span class="tsd-signature-symbol">&gt;</span>): <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/collection/records.ts#L33">
					<md-tooltip direction="bottom">
						collection/records.ts:33
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<p>Adds all values in the given map, overriding the values whenever there is conflict.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					map</td><td class="gs-code"><span>Map</span><span class="tsd-signature-symbol">&lt;</span><span>string</span><span class="tsd-signature-symbol">, </span><span>T</span><span class="tsd-signature-symbol">&gt;</span>          </td>
					<td>
						<div class="md-body-1"><p>The map whose values should be added.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p><a href="_collection_records_.fluentrecord.html">FluentRecord</a> object for chaining.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class"></md-divider>
		<a name="filter" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					filter(fn: <span>(value: <span>T</span>, key: <span>string</span>) =&gt; <span>boolean</span></span>): <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/collection/records.ts#L52">
					<md-tooltip direction="bottom">
						collection/records.ts:52
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<p>Filters entries of the record based on the given filter function.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					fn</td><td class="gs-code"><span>(value: <span>T</span>, key: <span>string</span>) =&gt; <span>boolean</span></span>          </td>
					<td>
						<div class="md-body-1"><p>Function used to filter the record. This function accepts two arguments:</p>
							<ol>
								<li>The value of the record entry.</li>
								<li>The key of the record entry.</li>
							</ol>
							<p>And should return true iff the entry should be kept in the record.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p><a href="_collection_records_.fluentrecord.html">FluentRecord</a> object for chaining.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class"></md-divider>
		<a name="foreach" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					for<wbr>Each(fn: <span>(arg: <span>T</span>, key: <span>string</span>) =&gt; <span>void</span></span>): <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/collection/records.ts#L72">
					<md-tooltip direction="bottom">
						collection/records.ts:72
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<p>Calls the given function for every entry in the record.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					fn</td><td class="gs-code"><span>(arg: <span>T</span>, key: <span>string</span>) =&gt; <span>void</span></span>          </td>
					<td>
						<div class="md-body-1"><p>The function to call. This accepts two arguments:</p>
							<ol>
								<li>Value of the entry.</li>
								<li>Key of the entry.</li>
							</ol>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>T</span><span class="tsd-signature-symbol">&gt;</span></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p><a href="_collection_records_.fluentrecord.html">FluentRecord</a> object for chaining.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class"></md-divider>
		<a name="mapvalue" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					map<wbr>Value&lt;V&gt;(fn: <span>(arg: <span>T</span>, key: <span>string</span>) =&gt; <span>V</span></span>): <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>V</span><span class="tsd-signature-symbol">&gt;</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/collection/records.ts#L92">
					<md-tooltip direction="bottom">
						collection/records.ts:92
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<p>Maps the values of the record using the input function.</p>
			</div>
			<h4 class="md-title">Type parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					V      </td>
					<td>
						<div class="md-body-1"><p>The type of the new value.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					fn</td><td class="gs-code"><span>(arg: <span>T</span>, key: <span>string</span>) =&gt; <span>V</span></span>          </td>
					<td>
						<div class="md-body-1"><p>The mapping function. This accepts two arguments:</p>
							<ol>
								<li>Value of the entry.</li>
								<li>Key of the entry.</li>
							</ol>
							<p>And should return the new value for the entry.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_collection_records_.fluentrecord.html" class="tsd-signature-type">FluentRecord</a><span class="tsd-signature-symbol">&lt;</span><span>V</span><span class="tsd-signature-symbol">&gt;</span></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p><a href="_collection_records_.fluentrecord.html">FluentRecord</a> object for chaining.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter"></md-divider>
	</md-content>
</section>
<script type="text/javascript">
    var BASE_URL = '..';
    hljs.initHighlightingOnLoad();
    angular
        .module('DocApp', ['ngMaterial'])
        .config(function($mdIconProvider, $mdThemingProvider) {
          $mdIconProvider.defaultFontSet('material-icons');
          $mdThemingProvider
              .theme('default')
              .primaryPalette('blue-grey')
              .accentPalette('yellow', {
                'default': 'A700'
              });
        })
        .controller('RootCtrl', function($scope) {
          var isInit = false;
          var rows = typedoc.search.data.rows;
          var fuse = new Fuse(rows, {
            'keys': ['name']
          });

          $scope['hideInherited'] = true;
          $scope['isSearchActive'] = false;
          $scope['onSearchClick'] = function() {
            $scope['isSearchActive'] = !$scope['isSearchActive'];

            if ($scope['isSearchActive']) {
              var inputEl = document.querySelector('.gs-default__search input');
              inputEl.focus();
              if (!isInit) {
                inputEl.addEventListener('blur', function() {
                  $scope['isSearchActive'] = false;
                  $scope.$apply(function() {});
                });
                isInit = true;
              }
            }
          };
          $scope['onSelectedItemChange'] = function(item) {
            window.location = BASE_URL + '/' + item.url;
          };
          $scope['querySearch'] = function(query) {
            return fuse.search(query);
          };
        });
  </script>
</body>
</html>