<!DOCTYPE html>
<html lang="en">
<head>
	<base href=".">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#607D8B">
	<title>
		Cache &bull; gs-tools
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
	<!-- Angular Material -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
	<!-- Fuse.js -->
	<script src="../assets/js/fuse.js"></script>
	<!-- Highlight.js -->
	<link rel="stylesheet" href="../assets/css/monokai.css">
	<script src="../assets/js/highlight.pack.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../assets/css/breadcrumb.css">
	<link rel="stylesheet" href="../assets/css/code.link.css">
	<link rel="stylesheet" href="../assets/css/comment.css">
	<link rel="stylesheet" href="../assets/css/default.css">
	<link rel="stylesheet" href="../assets/css/gettersetter.css">
	<link rel="stylesheet" href="../assets/css/hierarchy.css">
	<link rel="stylesheet" href="../assets/css/index.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/member.css">
	<link rel="stylesheet" href="../assets/css/member.declaration.css">
	<link rel="stylesheet" href="../assets/css/member.signatures.css">
	<link rel="stylesheet" href="../assets/css/member.sources.css">
	<link rel="stylesheet" href="../assets/css/navigation.css">
	<link rel="stylesheet" href="../assets/css/reflection.css">
	<link rel="stylesheet" href="../assets/css/toc.css">
	<link rel="stylesheet" href="../assets/css/typeParameters.css">
	<!-- Custom js -->
	<script src="../assets/js/search.js"></script>
</head>
<body
layout="column"
ng-app="DocApp"
ng-class="{'gs-default__hide-inherited': hideInherited}"
ng-controller="RootCtrl">
<section class="gs-default__header" layout="row" layout-align="space-between center">
	<div layout="column">
		<header>
			<h1 class="gs-default__project-name">
				<a href="../index.html">gs-tools</a>
			</h1>
		</header>
		<div>        <a class="gv-breadcrumb__item" href="../globals.html">Globals</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="../modules/_data_a_cache_.html">&quot;data/a-cache&quot;</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="_data_a_cache_.cache.html">Cache</a>
		</div>
	</div>
	<div class="gs-default__search-container" flex layout="row" layout-align="end center">
		<md-button
		class="md-icon-button gs-default__search-button"
		ng-class="{'gs-default__search-button--active': isSearchActive}"
		ng-click="onSearchClick()">
		<md-icon>search</md-icon>
		</md-button>
		<md-autocomplete
		class="gs-default__search"
		md-selected-item="selectedItem"
		md-search-text="searchText"
		md-items="item in querySearch(searchText)"
		md-item-text="item.name"
		md-min-length="0"
		md-selected-item-change="onSelectedItemChange(item)"
		ng-class="{'gs-default__search--active': isSearchActive}"
		placeholder="Search ...">
		<md-item-template>
			<div md-highlight-text="searchText" md-highlight-flags="i">
				{{item.parent}}.{{item.name}}
			</div>
		</md-item-template>
		</md-autocomplete>
	</div>
</section>
<section flex layout="row">
	<section class="gs-default__navigation-bar md-body-1" layout="column">
		<md-content flex>
			<nav>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__globals"
					href="../globals.html">
					Globals
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__member" href="../modules/_data_a_cache_.html">
						&quot;data/a-cache&quot;
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
			</nav>
			<md-divider></md-divider>
			<nav layout="column" layout-align="star end">
				<div layout="column">
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="_data_a_cache_.cache.html">Cache</a>
						</div>
						<div class="gs-toc__children tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported">
							<div class="gs-toc__entry tsd-kind-constructor tsd-parent-kind-class tsd-is-not-exported" layout="row">
								<a href="_data_a_cache_.cache.html#constructor">constructor</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_data_a_cache_.cache.html#data_">data_</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_data_a_cache_.cache.html#obj_">obj_</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-not-exported" layout="row">
								<a href="_data_a_cache_.cache.html#clearall">clear<wbr>All</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter tsd-is-not-exported" layout="row">
								<a href="_data_a_cache_.cache.html#getvalue">get<wbr>Value</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-static tsd-is-not-exported" layout="row">
								<a href="_data_a_cache_.cache.html#get">get</a>
							</div>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-interface tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="../interfaces/_data_a_cache_.icachefunc.html">ICache<wbr>Func</a>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-variable tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="../modules/_data_a_cache_.html#acache">ACache</a>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-variable tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="../modules/_data_a_cache_.html#___cache">___cache</a>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-variable tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="../modules/_data_a_cache_.html#___cachemap">___cache<wbr>Map</a>
						</div>
					</div>
				</div>
			</nav>
		</md-content>
		<div class="gs-default__toggle">
			<md-switch ng-model="hideInherited">
				Hides inherited
			</md-switch>
		</div>
	</section>
	<md-content class="gs-default__content" flex>
		<section class="tsd-panel tsd-comment">
			<div class="md-body-2">
				<p>A cache object.</p>
			</div>
			<div class="md-body-1"><p>Every object with a cache will have one instance of this object for every cache group.</p>
			</div>
		</section>
		<section class="gs-reflection__section">
			<h3>Hierarchy</h3>
			<div class="gs-code">
				<div>
					<div>
						<md-icon>keyboard_arrow_right</md-icon>
						<span class="gs-hierarchy__target">Cache</span>
					</div>
					<div class="gs-hierarchy__children">
					</div>
				</div>
			</div>
		</section>
		<header class="tsd-is-not-exported">
			<h2 class="md-display-1">Constructors</h2>
		</header>
		<a name="constructor" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-constructor tsd-parent-kind-class tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					new <wbr>Cache(obj: <span>any</span>): <a href="_data_a_cache_.cache.html" class="tsd-signature-type">Cache</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/data/a-cache.ts#L14">
					<md-tooltip direction="bottom">
						data/a-cache.ts:14
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-constructor tsd-parent-kind-class tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					obj</td><td class="gs-code"><span>any</span>          </td>
					<td>
						<div class="md-body-1">
							<p>The obj to cache the data for.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_data_a_cache_.cache.html" class="tsd-signature-type">Cache</a></h4>
		</section>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-not-exported"></md-divider>
		<header class="tsd-is-private tsd-is-private-protected tsd-is-not-exported">
			<h2 class="md-display-1">Properties</h2>
		</header>
		<a name="data_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					data_:<span>Map</span><span class="tsd-signature-symbol">&lt;</span><span>string</span><span class="tsd-signature-symbol">, </span><span>any</span><span class="tsd-signature-symbol">&gt;</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/data/a-cache.ts#L13">
					<md-tooltip direction="bottom">
						data/a-cache.ts:13
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<a name="obj_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					obj_:<span>any</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/data/a-cache.ts#L14">
					<md-tooltip direction="bottom">
						data/a-cache.ts:14
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<header class="tsd-is-not-exported">
			<h2 class="md-display-1">Methods</h2>
		</header>
		<a name="clearall" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					clear<wbr>All(): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/data/a-cache.ts#L45">
					<md-tooltip direction="bottom">
						data/a-cache.ts:45
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<p>Clears all cached values stored.</p>
			</div>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-not-exported"></md-divider>
		<a name="getvalue" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					get<wbr>Value&lt;T&gt;(methodName: <span>string</span>, delegate: <span>() =&gt; <span>T</span></span>): <span>T</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/data/a-cache.ts#L35">
					<md-tooltip direction="bottom">
						data/a-cache.ts:35
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-2">
				<p>Gets the value for the given method.</p>
			</div>
			<div class="md-body-1"><p>If there is a value cached, it returns that value. Otherwise, it will execute the given
				delegate function, caches the return value, and returns that value.</p>
			</div>
			<h4 class="md-title">Type parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					T      </td>
					<td>
						<div class="md-body-1"><p>The type of the return value of the function.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					methodName</td><td class="gs-code"><span>string</span>          </td>
					<td>
						<div class="md-body-1"><p>Name of method to get the value of.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="gs-code">
					delegate</td><td class="gs-code"><span>() =&gt; <span>T</span></span>          </td>
					<td>
						<div class="md-body-1"><p>Function to execute if the value is not cached.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <span>T</span></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p>The return value of the delegate if the data is not cached, or the cached value.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-has-type-parameter tsd-is-not-exported"></md-divider>
		<a name="get" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-static tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Static
				</span>
				<span class="gs-member__signature">
					get(obj: <span>any</span>, key?: <span>string</span>): <a href="_data_a_cache_.cache.html" class="tsd-signature-type">Cache</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/data/a-cache.ts#L58">
					<md-tooltip direction="bottom">
						data/a-cache.ts:58
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-static tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-static tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-2">
				<p>Returns the cache corresponding to the given cache group in the given object, if any.</p>
			</div>
			<div class="md-body-1"><p>If there are no cache objects created, this will create a new cache object.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					obj</td><td class="gs-code"><span>any</span>          </td>
					<td>
						<div class="md-body-1"><p>The object to return the cache object of.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="gs-code">
					key?</td><td class="gs-code"><span>string</span>          </td>
					<td>
						<div class="md-body-1"><p>The name of the cache group that corresponds to the cache object to return.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_data_a_cache_.cache.html" class="tsd-signature-type">Cache</a></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p>The associated cache object.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-static tsd-is-not-exported"></md-divider>
	</md-content>
</section>
<script type="text/javascript">
    var BASE_URL = '..';
    hljs.initHighlightingOnLoad();
    angular
        .module('DocApp', ['ngMaterial'])
        .config(function($mdIconProvider, $mdThemingProvider) {
          $mdIconProvider.defaultFontSet('material-icons');
          $mdThemingProvider
              .theme('default')
              .primaryPalette('blue-grey')
              .accentPalette('yellow', {
                'default': 'A700'
              });
        })
        .controller('RootCtrl', function($scope) {
          var isInit = false;
          var rows = typedoc.search.data.rows;
          var fuse = new Fuse(rows, {
            'keys': ['name']
          });

          $scope['hideInherited'] = true;
          $scope['isSearchActive'] = false;
          $scope['onSearchClick'] = function() {
            $scope['isSearchActive'] = !$scope['isSearchActive'];

            if ($scope['isSearchActive']) {
              var inputEl = document.querySelector('.gs-default__search input');
              inputEl.focus();
              if (!isInit) {
                inputEl.addEventListener('blur', function() {
                  $scope['isSearchActive'] = false;
                  $scope.$apply(function() {});
                });
                isInit = true;
              }
            }
          };
          $scope['onSelectedItemChange'] = function(item) {
            window.location = BASE_URL + '/' + item.url;
          };
          $scope['querySearch'] = function(query) {
            return fuse.search(query);
          };
        });
  </script>
</body>
</html>