<!DOCTYPE html>
<html lang="en">
<head>
	<base href=".">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#607D8B">
	<title>
		HttpPostRequest &bull; gs-tools
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
	<!-- Angular Material -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
	<!-- Fuse.js -->
	<script src="../assets/js/fuse.js"></script>
	<!-- Highlight.js -->
	<link rel="stylesheet" href="../assets/css/monokai.css">
	<script src="../assets/js/highlight.pack.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../assets/css/breadcrumb.css">
	<link rel="stylesheet" href="../assets/css/code.link.css">
	<link rel="stylesheet" href="../assets/css/comment.css">
	<link rel="stylesheet" href="../assets/css/default.css">
	<link rel="stylesheet" href="../assets/css/gettersetter.css">
	<link rel="stylesheet" href="../assets/css/hierarchy.css">
	<link rel="stylesheet" href="../assets/css/index.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/member.css">
	<link rel="stylesheet" href="../assets/css/member.declaration.css">
	<link rel="stylesheet" href="../assets/css/member.signatures.css">
	<link rel="stylesheet" href="../assets/css/member.sources.css">
	<link rel="stylesheet" href="../assets/css/navigation.css">
	<link rel="stylesheet" href="../assets/css/reflection.css">
	<link rel="stylesheet" href="../assets/css/toc.css">
	<link rel="stylesheet" href="../assets/css/typeParameters.css">
	<!-- Custom js -->
	<script src="../assets/js/search.js"></script>
</head>
<body
layout="column"
ng-app="DocApp"
ng-class="{'gs-default__hide-inherited': hideInherited}"
ng-controller="RootCtrl">
<section class="gs-default__header" layout="row" layout-align="space-between center">
	<div layout="column">
		<header>
			<h1 class="gs-default__project-name">
				<a href="../index.html">gs-tools</a>
			</h1>
		</header>
		<div>        <a class="gv-breadcrumb__item" href="../globals.html">Globals</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="../modules/_net_http_.html">&quot;net/http&quot;</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="_net_http_.httppostrequest.html">HttpPostRequest</a>
		</div>
	</div>
	<div class="gs-default__search-container" flex layout="row" layout-align="end center">
		<md-button
		class="md-icon-button gs-default__search-button"
		ng-class="{'gs-default__search-button--active': isSearchActive}"
		ng-click="onSearchClick()">
		<md-icon>search</md-icon>
		</md-button>
		<md-autocomplete
		class="gs-default__search"
		md-selected-item="selectedItem"
		md-search-text="searchText"
		md-items="item in querySearch(searchText)"
		md-item-text="item.name"
		md-min-length="0"
		md-selected-item-change="onSelectedItemChange(item)"
		ng-class="{'gs-default__search--active': isSearchActive}"
		placeholder="Search ...">
		<md-item-template>
			<div md-highlight-text="searchText" md-highlight-flags="i">
				{{item.parent}}.{{item.name}}
			</div>
		</md-item-template>
		</md-autocomplete>
	</div>
</section>
<section flex layout="row">
	<section class="gs-default__navigation-bar md-body-1" layout="column">
		<md-content flex>
			<nav>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__globals"
					href="../globals.html">
					Globals
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__member" href="../modules/_net_http_.html">
						&quot;net/http&quot;
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
			</nav>
			<md-divider></md-divider>
			<nav layout="column" layout-align="star end">
				<div layout="column">
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="_net_http_.http.html">Http</a>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="_net_http_.httppostrequest.html">Http<wbr>Post<wbr>Request</a>
						</div>
						<div class="gs-toc__children tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported">
							<div class="gs-toc__entry tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#constructor">constructor</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#formdata_">form<wbr>Data_</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#listenablerequest">listenable<wbr>Request</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#request">request</a>
							</div>
							<div class="gs-toc__entry tsd-kind-get-signature tsd-parent-kind-class tsd-is-overwrite tsd-is-protected tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#sentdata">sent<wbr>Data</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#adddisposable">add<wbr>Disposable</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#dispose">dispose</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#disposeinternal">dispose<wbr>Internal</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#send">send</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-not-exported" layout="row">
								<a href="_net_http_.httppostrequest.html#setformdata">set<wbr>Form<wbr>Data</a>
							</div>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="_net_http_.httprequest.html">Http<wbr>Request</a>
						</div>
					</div>
				</div>
			</nav>
		</md-content>
		<div class="gs-default__toggle">
			<md-switch ng-model="hideInherited">
				Hides inherited
			</md-switch>
		</div>
	</section>
	<md-content class="gs-default__content" flex>
		<section class="tsd-panel tsd-comment">
			<div class="md-body-1">
				<p>Represents an HTTP POST request.</p>
			</div>
		</section>
		<section class="gs-reflection__section">
			<h3>Hierarchy</h3>
			<div class="gs-code">
				<div>
					<div>
						<md-icon>keyboard_arrow_right</md-icon>
						<span><a href="_net_http_.httprequest.html" class="tsd-signature-type">HttpRequest</a></span>
					</div>
					<div class="gs-hierarchy__children">
						<div class="gs-code">
							<div>
								<div>
									<md-icon>keyboard_arrow_right</md-icon>
									<span class="gs-hierarchy__target">HttpPostRequest</span>
								</div>
								<div class="gs-hierarchy__children">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<header class="tsd-is-not-exported">
			<h2 class="md-display-1">Constructors</h2>
		</header>
		<a name="constructor" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					new <wbr>Http<wbr>Post<wbr>Request(path: <span>string</span>): <a href="_net_http_.httppostrequest.html" class="tsd-signature-type">HttpPostRequest</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/net/http.ts#L67">
					<md-tooltip direction="bottom">
						net/http.ts:67
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Overwrites <span class="gs-code"><a href="_net_http_.httprequest.html">HttpRequest</a>.<a href="_net_http_.httprequest.html#constructor">constructor</a></span></p>
			</aside>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					path</td><td class="gs-code"><span>string</span>          </td>
					<td>
						<div class="md-body-1">
							<p>Path to send the request to.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_net_http_.httppostrequest.html" class="tsd-signature-type">HttpPostRequest</a></h4>
		</section>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported"></md-divider>
		<header class="tsd-is-private-protected tsd-is-not-exported">
			<h2 class="md-display-1">Properties</h2>
		</header>
		<a name="formdata_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					form<wbr>Data_:<span>string</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/net/http.ts#L67">
					<md-tooltip direction="bottom">
						net/http.ts:67
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<a name="listenablerequest" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Protected
				</span>
				<span class="gs-member__signature">
					listenable<wbr>Request:<a href="_event_listenable_element_.listenableelement.html" class="tsd-signature-type">ListenableElement</a><span class="tsd-signature-symbol">&lt;</span><span>XMLHttpRequest</span><span class="tsd-signature-symbol">&gt;</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/net/http.ts#L14">
					<md-tooltip direction="bottom">
						net/http.ts:14
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_net_http_.httprequest.html">HttpRequest</a>.<a href="_net_http_.httprequest.html#listenablerequest">listenableRequest</a></span></p>
			</aside>
			<div class="md-body-1">
				<div class="md-body-1">
					<p>The XMLHttpRequest object wrapped as a <a href="_event_listenable_element_.listenableelement.html">ListenableElement</a></p>
				</div>
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported"></md-divider>
		<a name="request" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Protected
				</span>
				<span class="gs-member__signature">
					request:<span>XMLHttpRequest</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/net/http.ts#L19">
					<md-tooltip direction="bottom">
						net/http.ts:19
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_net_http_.httprequest.html">HttpRequest</a>.<a href="_net_http_.httprequest.html#request">request</a></span></p>
			</aside>
			<div class="md-body-1">
				<div class="md-body-1">
					<p>The XMLHttpRequest object.</p>
				</div>
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited tsd-is-protected tsd-is-not-exported"></md-divider>
		<header class="tsd-is-private-protected tsd-is-not-exported">
			<h2 class="md-display-1">Accessors</h2>
		</header>
		<a name="sentdata" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-get-signature tsd-parent-kind-class tsd-is-overwrite tsd-is-protected tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Protected
				</span>
				<span class="gs-member__signature">
					<span class="gs-code">
					<span class="gs-gettersetter__keyword">get</span> sentData: <span>string</span>  </span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/net/http.ts#L80">
					<md-tooltip direction="bottom">
						net/http.ts:80
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-get-signature tsd-parent-kind-class tsd-is-overwrite tsd-is-protected tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-get-signature tsd-parent-kind-class tsd-is-overwrite tsd-is-protected tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
				<p>Overwrites <span class="gs-code"><a href="_net_http_.httprequest.html">HttpRequest</a>.<a href="_net_http_.httprequest.html#sentdata">sentData</a></span></p>
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
		</section>
		<md-divider class="tsd-kind-get-signature tsd-parent-kind-class tsd-is-overwrite tsd-is-protected tsd-is-not-exported"></md-divider>
		<header class="tsd-is-not-exported">
			<h2 class="md-display-1">Methods</h2>
		</header>
		<a name="adddisposable" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					add<wbr>Disposable(...disposables: <a href="_dispose_base_disposable_.basedisposable.html" class="tsd-signature-type">BaseDisposable</a><span class="tsd-signature-symbol">[]</span>): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/dispose/base-disposable.ts#L37">
					<md-tooltip direction="bottom">
						dispose/base-disposable.ts:37
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html">BaseDisposable</a>.<a href="_dispose_base_disposable_.basedisposable.html#adddisposable">addDisposable</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>Adds the given disposable so they are disposed when this object is disposed.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					...disposables</td><td class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html" class="tsd-signature-type">BaseDisposable</a><span class="tsd-signature-symbol">[]</span>          </td>
					<td>
						<div class="md-body-1"><p>Disposable objects to be disposed when this object is disposed.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="dispose" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					dispose(): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/dispose/base-disposable.ts#L52">
					<md-tooltip direction="bottom">
						dispose/base-disposable.ts:52
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html">BaseDisposable</a>.<a href="_dispose_base_disposable_.basedisposable.html#dispose">dispose</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>Dispose this object.</p>
			</div>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="disposeinternal" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					dispose<wbr>Internal(): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/dispose/base-disposable.ts#L46">
					<md-tooltip direction="bottom">
						dispose/base-disposable.ts:46
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html">BaseDisposable</a>.<a href="_dispose_base_disposable_.basedisposable.html#disposeinternal">disposeInternal</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>Override this method for custom logic that are ran during disposal.</p>
			</div>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="send" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					send(): <span>Promise</span><span class="tsd-signature-symbol">&lt;</span><span>string</span><span class="tsd-signature-symbol">&gt;</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/net/http.ts#L48">
					<md-tooltip direction="bottom">
						net/http.ts:48
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_net_http_.httprequest.html">HttpRequest</a>.<a href="_net_http_.httprequest.html#send">send</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>Sends the HTTP request.</p>
			</div>
			<h4 class="gs-code">returns <span>Promise</span><span class="tsd-signature-symbol">&lt;</span><span>string</span><span class="tsd-signature-symbol">&gt;</span></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p>Promise that will be resolved with the response text if successful, or rejected with
				the XMLHttpRequest request object otherwise.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="setformdata" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					set<wbr>Form<wbr>Data(data: <span>IJson</span>): <a href="_net_http_.httppostrequest.html" class="tsd-signature-type">HttpPostRequest</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/master/src/net/http.ts#L91">
					<md-tooltip direction="bottom">
						net/http.ts:91
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<p>Sets the form data to be sent.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					data</td><td class="gs-code"><span>IJson</span>          </td>
					<td>
						<div class="md-body-1"><p>JSON representation of the form data to be sent. The key corresponds to each form
							field.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_net_http_.httppostrequest.html" class="tsd-signature-type">HttpPostRequest</a></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p>This object for chaining.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-not-exported"></md-divider>
	</md-content>
</section>
<script type="text/javascript">
    var BASE_URL = '..';
    hljs.initHighlightingOnLoad();
    angular
        .module('DocApp', ['ngMaterial'])
        .config(function($mdIconProvider, $mdThemingProvider) {
          $mdIconProvider.defaultFontSet('material-icons');
          $mdThemingProvider
              .theme('default')
              .primaryPalette('blue-grey')
              .accentPalette('yellow', {
                'default': 'A700'
              });
        })
        .controller('RootCtrl', function($scope) {
          var isInit = false;
          var rows = typedoc.search.data.rows;
          var fuse = new Fuse(rows, {
            'keys': ['name']
          });

          $scope['hideInherited'] = true;
          $scope['isSearchActive'] = false;
          $scope['onSearchClick'] = function() {
            $scope['isSearchActive'] = !$scope['isSearchActive'];

            if ($scope['isSearchActive']) {
              var inputEl = document.querySelector('.gs-default__search input');
              inputEl.focus();
              if (!isInit) {
                inputEl.addEventListener('blur', function() {
                  $scope['isSearchActive'] = false;
                  $scope.$apply(function() {});
                });
                isInit = true;
              }
            }
          };
          $scope['onSelectedItemChange'] = function(item) {
            window.location = BASE_URL + '/' + item.url;
          };
          $scope['querySearch'] = function(query) {
            return fuse.search(query);
          };
        });
  </script>
</body>
</html>