<!DOCTYPE html>
<html lang="en">
<head>
	<base href=".">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#607D8B">
	<title>
		OverflowWatcher &bull; gs-tools
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
	<!-- Angular Material -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
	<!-- Fuse.js -->
	<script src="../assets/js/fuse.js"></script>
	<!-- Highlight.js -->
	<link rel="stylesheet" href="../assets/css/monokai.css">
	<script src="../assets/js/highlight.pack.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../assets/css/breadcrumb.css">
	<link rel="stylesheet" href="../assets/css/code.link.css">
	<link rel="stylesheet" href="../assets/css/comment.css">
	<link rel="stylesheet" href="../assets/css/default.css">
	<link rel="stylesheet" href="../assets/css/gettersetter.css">
	<link rel="stylesheet" href="../assets/css/hierarchy.css">
	<link rel="stylesheet" href="../assets/css/index.css">
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/member.css">
	<link rel="stylesheet" href="../assets/css/member.declaration.css">
	<link rel="stylesheet" href="../assets/css/member.signatures.css">
	<link rel="stylesheet" href="../assets/css/member.sources.css">
	<link rel="stylesheet" href="../assets/css/navigation.css">
	<link rel="stylesheet" href="../assets/css/reflection.css">
	<link rel="stylesheet" href="../assets/css/toc.css">
	<link rel="stylesheet" href="../assets/css/typeParameters.css">
	<!-- Custom js -->
	<script src="../assets/js/search.js"></script>
</head>
<body
layout="column"
ng-app="DocApp"
ng-class="{'gs-default__hide-inherited': hideInherited}"
ng-controller="RootCtrl">
<section class="gs-default__header" layout="row" layout-align="space-between center">
	<div layout="column">
		<header>
			<h1 class="gs-default__project-name">
				<a href="../index.html">gs-tools</a>
			</h1>
		</header>
		<div>        <a class="gv-breadcrumb__item" href="../globals.html">Globals</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="../modules/_ui_overflow_watcher_.html">&quot;ui/overflow-watcher&quot;</a>
			<md-icon class="gv-breadcrumb__icon">keyboard_arrow_right</md-icon>
			<a class="gv-breadcrumb__item" href="_ui_overflow_watcher_.overflowwatcher.html">OverflowWatcher</a>
		</div>
	</div>
	<div class="gs-default__search-container" flex layout="row" layout-align="end center">
		<md-button
		class="md-icon-button gs-default__search-button"
		ng-class="{'gs-default__search-button--active': isSearchActive}"
		ng-click="onSearchClick()">
		<md-icon>search</md-icon>
		</md-button>
		<md-autocomplete
		class="gs-default__search"
		md-selected-item="selectedItem"
		md-search-text="searchText"
		md-items="item in querySearch(searchText)"
		md-item-text="item.name"
		md-min-length="0"
		md-selected-item-change="onSelectedItemChange(item)"
		ng-class="{'gs-default__search--active': isSearchActive}"
		placeholder="Search ...">
		<md-item-template>
			<div md-highlight-text="searchText" md-highlight-flags="i">
				{{item.parent}}.{{item.name}}
			</div>
		</md-item-template>
		</md-autocomplete>
	</div>
</section>
<section flex layout="row">
	<section class="gs-default__navigation-bar md-body-1" layout="column">
		<md-content flex>
			<nav>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__globals"
					href="../globals.html">
					Globals
					</a>
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
				</div>
				<div class="gs-navigation__root" layout="column">
					<a class="gs-navigation__item gs-navigation__member" href="../modules/_ui_overflow_watcher_.html">
						&quot;ui/overflow-watcher&quot;
					</a>
				</div>
			</nav>
			<md-divider></md-divider>
			<nav layout="column" layout-align="star end">
				<div layout="column">
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-enum tsd-parent-kind-external-module" layout="row">
							<a href="../enums/_ui_overflow_watcher_.eventtype.html">Event<wbr>Type</a>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-enum tsd-parent-kind-external-module" layout="row">
							<a href="../enums/_ui_overflow_watcher_.state.html">State</a>
						</div>
					</div>
					<div class="gs-toc-root__root" layout="column">
						<div class="gs-toc__entry tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported" layout="row">
							<a href="_ui_overflow_watcher_.overflowwatcher.html">Overflow<wbr>Watcher</a>
						</div>
						<div class="gs-toc__children tsd-kind-class tsd-parent-kind-external-module tsd-is-not-exported">
							<div class="gs-toc__entry tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#constructor">constructor</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#containerel_">container<wbr>El_</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#element_">element_</a>
							</div>
							<div class="gs-toc__entry tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#state_">state_</a>
							</div>
							<div class="gs-toc__entry tsd-kind-get-signature tsd-parent-kind-class tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#state">state</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#adddisposable">add<wbr>Disposable</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#dispatch">dispatch</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#dispose">dispose</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-overwrite tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#disposeinternal">dispose<wbr>Internal</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#getstate_">get<wbr>State_</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#on">on</a>
							</div>
							<div class="gs-toc__entry tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported" layout="row">
								<a href="_ui_overflow_watcher_.overflowwatcher.html#onscroll_">on<wbr>Scroll_</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</md-content>
		<div class="gs-default__toggle">
			<md-switch ng-model="hideInherited">
				Hides inherited
			</md-switch>
		</div>
	</section>
	<md-content class="gs-default__content" flex>
		<section class="tsd-panel tsd-comment">
			<div class="md-body-2">
				<p>Watches an element in the given container to see if the element is scrolled off the container.</p>
			</div>
			<div class="md-body-1"><p>To use this, give it the container element and the element to be watched. Listen to the
					<a href="../enums/_ui_overflow_watcher_.eventtype.html#changed">CHANGED</a> event for when the element&#39;s state (<a href="../enums/_ui_overflow_watcher_.state.html#covered">COVERED</a>, <a href="../enums/_ui_overflow_watcher_.state.html#partial">PARTIAL</a>, <a href="../enums/_ui_overflow_watcher_.state.html#uncovered">UNCOVERED</a>) has
				changed.</p>
			</div>
		</section>
		<section class="gs-reflection__section">
			<h3>Hierarchy</h3>
			<div class="gs-code">
				<div>
					<div>
						<md-icon>keyboard_arrow_right</md-icon>
						<span><a href="_event_base_listenable_.baselistenable.html" class="tsd-signature-type">BaseListenable</a><span class="tsd-signature-symbol">&lt;</span><a href="../enums/_ui_overflow_watcher_.eventtype.html" class="tsd-signature-type">EventType</a><span class="tsd-signature-symbol">&gt;</span></span>
					</div>
					<div class="gs-hierarchy__children">
						<div class="gs-code">
							<div>
								<div>
									<md-icon>keyboard_arrow_right</md-icon>
									<span class="gs-hierarchy__target">OverflowWatcher</span>
								</div>
								<div class="gs-hierarchy__children">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<header class="tsd-is-not-exported">
			<h2 class="md-display-1">Constructors</h2>
		</header>
		<a name="constructor" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					new <wbr>Overflow<wbr>Watcher(container: <span>HTMLElement</span>, element: <span>HTMLElement</span>): <a href="_ui_overflow_watcher_.overflowwatcher.html" class="tsd-signature-type">OverflowWatcher</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/ui/overflow-watcher.ts#L45">
					<md-tooltip direction="bottom">
						ui/overflow-watcher.ts:45
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Overwrites <span class="gs-code"><a href="_event_base_listenable_.baselistenable.html">BaseListenable</a>.<a href="_event_base_listenable_.baselistenable.html#constructor">constructor</a></span></p>
			</aside>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					container</td><td class="gs-code"><span>HTMLElement</span>          </td>
					<td>
						<div class="md-body-1">
							<p>The container element.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="gs-code">
					element</td><td class="gs-code"><span>HTMLElement</span>          </td>
					<td>
						<div class="md-body-1">
							<p>The element to watch.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_ui_overflow_watcher_.overflowwatcher.html" class="tsd-signature-type">OverflowWatcher</a></h4>
		</section>
		<md-divider class="tsd-kind-constructor tsd-parent-kind-class tsd-is-overwrite tsd-is-not-exported"></md-divider>
		<header class="tsd-is-private tsd-is-private-protected tsd-is-not-exported">
			<h2 class="md-display-1">Properties</h2>
		</header>
		<a name="containerel_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					container<wbr>El_:<span>HTMLElement</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/ui/overflow-watcher.ts#L43">
					<md-tooltip direction="bottom">
						ui/overflow-watcher.ts:43
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<a name="element_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					element_:<span>HTMLElement</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/ui/overflow-watcher.ts#L44">
					<md-tooltip direction="bottom">
						ui/overflow-watcher.ts:44
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<a name="state_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					state_:<a href="../enums/_ui_overflow_watcher_.state.html" class="tsd-signature-type">State</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/ui/overflow-watcher.ts#L45">
					<md-tooltip direction="bottom">
						ui/overflow-watcher.ts:45
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
			</div>
		</section>
		<md-divider class="tsd-kind-property tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<header class="tsd-is-not-exported">
			<h2 class="md-display-1">Accessors</h2>
		</header>
		<a name="state" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-get-signature tsd-parent-kind-class tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					<span class="gs-code">
					<span class="gs-gettersetter__keyword">get</span> state: <a href="../enums/_ui_overflow_watcher_.state.html" class="tsd-signature-type">State</a>  </span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/ui/overflow-watcher.ts#L91">
					<md-tooltip direction="bottom">
						ui/overflow-watcher.ts:91
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-get-signature tsd-parent-kind-class tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-get-signature tsd-parent-kind-class tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<div class="md-body-1">
				<p><a href="../enums/_ui_overflow_watcher_.state.html">State</a> of the element being watched.</p>
			</div>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<aside class="gs-member-sources__root md-caption">
			</aside>
		</section>
		<md-divider class="tsd-kind-get-signature tsd-parent-kind-class tsd-is-not-exported"></md-divider>
		<header class="tsd-is-not-exported">
			<h2 class="md-display-1">Methods</h2>
		</header>
		<a name="adddisposable" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					add<wbr>Disposable(...disposables: <a href="_dispose_base_disposable_.basedisposable.html" class="tsd-signature-type">BaseDisposable</a><span class="tsd-signature-symbol">[]</span>): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/dispose/base-disposable.ts#L34">
					<md-tooltip direction="bottom">
						dispose/base-disposable.ts:34
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html">BaseDisposable</a>.<a href="_dispose_base_disposable_.basedisposable.html#adddisposable">addDisposable</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>Adds the given disposable so they are disposed when this object is disposed.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					...disposables</td><td class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html" class="tsd-signature-type">BaseDisposable</a><span class="tsd-signature-symbol">[]</span>          </td>
					<td>
						<div class="md-body-1"><p>Disposable objects to be disposed when this object is disposed.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="dispatch" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					dispatch(eventType: <a href="../enums/_ui_overflow_watcher_.eventtype.html" class="tsd-signature-type">EventType</a>, payload?: <span>any</span>): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/event/base-listenable.ts#L34">
					<md-tooltip direction="bottom">
						event/base-listenable.ts:34
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_event_base_listenable_.baselistenable.html">BaseListenable</a>.<a href="_event_base_listenable_.baselistenable.html#dispatch">dispatch</a></span></p>
			</aside>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					eventType</td><td class="gs-code"><a href="../enums/_ui_overflow_watcher_.eventtype.html" class="tsd-signature-type">EventType</a>          </td>
					<td>
						<div class="md-body-1"><p>Type of event to dispatch.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="gs-code">
					payload</td><td class="gs-code"><span>any</span> =&nbsp;null          </td>
					<td>
						<div class="md-body-1"><p>Any payloads that are associated with the event, if any.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="dispose" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					dispose(): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/dispose/base-disposable.ts#L48">
					<md-tooltip direction="bottom">
						dispose/base-disposable.ts:48
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html">BaseDisposable</a>.<a href="_dispose_base_disposable_.basedisposable.html#dispose">dispose</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>Dispose this object.</p>
			</div>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="disposeinternal" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-overwrite tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					dispose<wbr>Internal(): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/event/base-listenable.ts#L26">
					<md-tooltip direction="bottom">
						event/base-listenable.ts:26
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-overwrite tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-overwrite tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_event_base_listenable_.baselistenable.html">BaseListenable</a>.<a href="_event_base_listenable_.baselistenable.html#disposeinternal">disposeInternal</a></span></p>
				<p>Overwrites <span class="gs-code"><a href="_dispose_base_disposable_.basedisposable.html">BaseDisposable</a>.<a href="_dispose_base_disposable_.basedisposable.html#disposeinternal">disposeInternal</a></span></p>
			</aside>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-overwrite tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="getstate_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					get<wbr>State_(): <a href="../enums/_ui_overflow_watcher_.state.html" class="tsd-signature-type">State</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/ui/overflow-watcher.ts#L64">
					<md-tooltip direction="bottom">
						ui/overflow-watcher.ts:64
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<h4 class="gs-code">returns <a href="../enums/_ui_overflow_watcher_.state.html" class="tsd-signature-type">State</a></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<a name="on" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
				</span>
				<span class="gs-member__signature">
					on(eventType: <a href="../enums/_ui_overflow_watcher_.eventtype.html" class="tsd-signature-type">EventType</a>, callback: <span>(payload: <span>any</span>) =&gt; <span>void</span></span>): <a href="_dispose_disposable_function_.disposablefunction.html" class="tsd-signature-type">DisposableFunction</a>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/event/base-listenable.ts#L52">
					<md-tooltip direction="bottom">
						event/base-listenable.ts:52
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
				<p>Inherited from <span class="gs-code"><a href="_event_base_listenable_.baselistenable.html">BaseListenable</a>.<a href="_event_base_listenable_.baselistenable.html#on">on</a></span></p>
			</aside>
			<div class="md-body-1">
				<p>Listens to an event dispatched by this object.</p>
			</div>
			<h4 class="md-title">Parameters</h4>
			<table class="gs-parameters md-body-1">
				<tr>
					<td class="gs-code">
					eventType</td><td class="gs-code"><a href="../enums/_ui_overflow_watcher_.eventtype.html" class="tsd-signature-type">EventType</a>          </td>
					<td>
						<div class="md-body-1"><p>Type of event to listen to.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="gs-code">
					callback</td><td class="gs-code"><span>(payload: <span>any</span>) =&gt; <span>void</span></span>          </td>
					<td>
						<div class="md-body-1"><p>The callback to be called when the specified event is dispatched.</p>
						</div>
					</td>
				</tr>
			</table>
			<h4 class="gs-code">returns <a href="_dispose_disposable_function_.disposablefunction.html" class="tsd-signature-type">DisposableFunction</a></h4>
			<div class="md-body-1 gs-member-signatures__return">
				<p><a href="_dispose_disposable_function_.disposablefunction.html">DisposableFunction</a> that should be disposed to stop listening to the event.</p>
			</div>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited tsd-is-not-exported"></md-divider>
		<a name="onscroll_" class="tsd-anchor"></a>
		<header class="gs-sticky tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<h3>
				<span class="gs-member__flags gs-code">
					Private
				</span>
				<span class="gs-member__signature">
					on<wbr>Scroll_(): <span>void</span>
				</span>
				<a href="https://github.com/garysoed/gs-tools/blob/gh-pages/src/ui/overflow-watcher.ts#L79">
					<md-tooltip direction="bottom">
						ui/overflow-watcher.ts:79
					</md-tooltip>
					<md-icon class="gs-code-link__icon">code</md-icon>
				</a>
			</h3>
		</header>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
		<section class="gs-member__definition tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported">
			<aside class="gs-member-sources__root md-caption">
			</aside>
			<h4 class="gs-code">returns <span>void</span></h4>
		</section>
		<md-divider class="tsd-kind-method tsd-parent-kind-class tsd-is-private tsd-is-not-exported"></md-divider>
	</md-content>
</section>
<script type="text/javascript">
    var BASE_URL = '..';
    hljs.initHighlightingOnLoad();
    angular
        .module('DocApp', ['ngMaterial'])
        .config(function($mdIconProvider, $mdThemingProvider) {
          $mdIconProvider.defaultFontSet('material-icons');
          $mdThemingProvider
              .theme('default')
              .primaryPalette('blue-grey')
              .accentPalette('yellow', {
                'default': 'A700'
              });
        })
        .controller('RootCtrl', function($scope) {
          var isInit = false;
          var rows = typedoc.search.data.rows;
          var fuse = new Fuse(rows, {
            'keys': ['name']
          });

          $scope['hideInherited'] = true;
          $scope['isSearchActive'] = false;
          $scope['onSearchClick'] = function() {
            $scope['isSearchActive'] = !$scope['isSearchActive'];

            if ($scope['isSearchActive']) {
              var inputEl = document.querySelector('.gs-default__search input');
              inputEl.focus();
              if (!isInit) {
                inputEl.addEventListener('blur', function() {
                  $scope['isSearchActive'] = false;
                  $scope.$apply(function() {});
                });
                isInit = true;
              }
            }
          };
          $scope['onSelectedItemChange'] = function(item) {
            window.location = BASE_URL + '/' + item.url;
          };
          $scope['querySearch'] = function(query) {
            return fuse.search(query);
          };
        });
  </script>
</body>
</html>