@import 'theme';

.gv-breadcrumb__icon {
  color: $color-secondary;
}

a.gv-breadcrumb__item {
  font-size: 14px;
  font-weight: 500;
}

a.gv-breadcrumb__item:not(:hover) {
  color: $color-secondary;
}
