@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Roboto:400,700);

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

a {
  color: #607D8B;
}

a:hover {
  color: #FFD600;
}

.material-icons.gs-code-icon {
  font-size: 18px;
}

.tsd-signature,
.tsd-signature-type,
.tsd-type-parameters h4 {
  font-family: 'Ubuntu Mono', monospace;
}
