@import 'theme';

.gs-default__header {
  background-color: $color-reverse-background;
  border-bottom: 1px solid $color-reverse-action;
  color: $color-secondary;
  padding: 1em 2em;
  z-index: 1;
}

.gs-default__navigation-bar {
  padding-botom: 2rem;
  width: 250px;
}

.gs-default__navigation-bar,
.gs-default__navigation-bar > md-content {
  background-color: $color-reverse-background;
}

.gs-default__navigation-bar nav {
  margin: 2rem 0;
}

.gs-default__navigation-bar md-divider {
  border-top-color: $color-reverse-action;
}

.gs-default__project-name {
  margin: 5px 0;
}

.gs-default__project-name a:not(:hover) {
  color: $color-reverse-foreground;
}

.gs-default__content {
  background-color: $color-background;
  color: $color-foreground;
  padding-bottom: 2rem;
}

.gs-default__content > section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.gs-default__content > header > h2 {
  background-color: $color-reverse-background;
  color: $color-reverse-foreground;
  text-transform: capitalize;
  padding: 1rem 2rem;
  margin: 0;
}

.gs-default__content .md-subheader-inner {
  background-color: $color-half-background;
  color: $color-half-foreground;
  height: 2rem;
  line-height: 2rem;
  overflow-x: auto;
  padding: 1rem 2rem;
  top: 0;
  white-space: nowrap;

  h3 {
    margin: 0;
  }
}

.gs-default__hide-inherited .tsd-is-inherited {
  display: none;
}

.gs-default__search-container {
  margin-left: 2rem;
}

.gs-default__search {
  max-width: 40rem;
  min-width: 0;
  position: relative;
  width: 0;

  transition: width .2s;
}

.gs-default__search--active {
  width: 100vw;

  transition: width .2s;
}

.gs-default__search,
.gs-default__search > md-autocomplete-wrap {
  margin-left: 0;
  padding-left: 0;

  transition: all .1s;
}

.gs-default__search--active,
.gs-default__search--active > md-autocomplete-wrap {
  margin-left: -52px;
  padding-left: 52px;

  transition: all .1s;
}

.gs-default__search-button.md-button.md-icon-button {
  max-width: 75vw;
  min-width: 40px;
  width: 40px;
  z-index: 2;
}

.gs-default__search-button:not(.gs-default__search-button--active) md-icon {
  color: $color-reverse-action;
}

.gs-default__toggle {
  padding: 0 2rem;
  color: $color-reverse-foreground;
}

.md-autocomplete-suggestions-container li .highlight {
  color: $color-accent;
  font-weight: bold;
}

.tsd-is-private {
  display: none;
}
