.gs-default__header {
  background-color: #607D8B;
  color: #CFD8DC;
  padding: 1em 2em;
  z-index: 1;
}

.gs-default__navigation-bar {
  background-color: #607D8B;
  padding-botom: 2rem;
  width: 250px;
}

.gs-default__navigation-bar > nav {
  margin: 2rem 0;
}

.gs-default__navigation-bar md-divider {
  border-top-color: #CFD8DC;
}

.gs-default__project-name {
  margin: 5px 0;
}

.gs-default__project-name a:not(:hover) {
  color: white;
}

.gs-default__content {
  padding-bottom: 2rem;
}

.gs-default__content > section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.gs-default__content > header > h2 {
  background-color: #607D8B;
  color: white;
  text-transform: capitalize;
  padding: 1rem 2rem;
  margin: 0;
}

.gs-default__content header.gs-sticky {
  background-color: #CFD8DC;
  height: 2rem;
  line-height: 2rem;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}

.gs-default__content header.gs-sticky > h3 {
  margin: 0;
}

.tsd-is-private {
  display: none;
}
