@import 'theme';

.gs-toolbar {
  background-color: $color-reverse-background;
  color: $color-reverse-foreground;
}

a.gs-project-title {
  font-weight: bold;
}

.gs-field:not(:hover) ~ a.gs-project-title {
  color: white;
}

.gs-search-field i {
  height: 40px;
  line-height: 40px;
}

.has-focus .gs-search-field {
  color: black;
}
