.gs-toolbar {
  background-color: #607D8B;
  color: #CFD8DC;
}

a.gs-project-title {
  font-weight: bold;
}

.gs-field:not(:hover) ~ a.gs-project-title {
  color: white;
}

.gs-search-field i {
  height: 40px;
  line-height: 40px;
}

.has-focus .gs-search-field {
  color: black;
}
