@import 'theme';

.gs-index__table {
  border: 1px solid $color-primary;
  margin: 2rem;
}

.gs-index__table > h3 {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px solid $color-primary;
}

.gs-index__table > section {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;

  column-gap: 1rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;

  padding: 1rem;
}

.gs-index__table > section > div {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5rem;
}
