@import 'theme';

a {
  color: $color-action;
  text-decoration: none;
}

a:hover {
  color: $color-accent;
}

md-divider {
  border-top-color: $color-action;
}

table.gs-parameters {
  border-spacing: 0;
  border-collapse: collapse;
  border-left: 5px solid $color-action;
  margin-bottom: 4rem;
}

table.gs-parameters td {
  padding-left: 2rem;
  padding-right: 2rem;
  vertical-align: top;
}

table.gs-parameters td.gs-code {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

code {
  background-color: $color-half-background;
  border-radius: .2rem;
  color: $color-half-foreground;
  font-family: 'Ubuntu Mono', monospace;
  padding: .1rem .2rem;
  white-space: pre;
}

p {
  margin: 2rem 0;
  max-width: 40rem;
}
table.gs-parameters p {
  margin: 1rem 0;
}

.gs-code,
.hljs {
  font-family: 'Ubuntu Mono', monospace;
}

.gs-code {
  white-space: nowrap;
}

.hljs {
  padding: 2rem;
}

/* Apply the themes to Angular Material components */
md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
  background-color: rgba(red($color-accent), green($color-accent), blue($color-accent), .5);
}

md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
  background-color: $color-accent;
}

md-switch.md-default-theme.md-checked .md-ink-ripple, md-switch.md-checked .md-ink-ripple {
  color: $color-accent;
}
