@import 'theme';

.gs-member__definition {
  background-color: white;
  padding: 1rem 2rem;
}

.gs-member__children {
  background-color: $color-secondary;
  padding-bottom: 2rem;
}

.gs-member__children .gs-member__definition {
  border-left: 1px solid $color-primary;
  border-right: 1px solid $color-primary;
}

.gs-member__flags {
  text-transform: lowercase;
}

.gs-member__signature {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
}
