.gs-member__definition {
  background-color: white;
  padding: 1rem 2rem;
}

.gs-member__children {
  background-color: #CFD8DC;
  padding-bottom: 2rem;
}

.gs-member__children .gs-member__definition {
  border-left: 1px solid #607D8B;
  border-right: 1px solid #607D8B;
}

.gs-member__signature {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
}
