@import 'theme';

.gs-toc__entry a:not(:hover) {
  color: $color-reverse-foreground;
}

.gs-toc__entry {
  border-right: 5px solid $color-reverse-foreground;
  padding: .5rem 1rem;
}

.gs-toc__children {
  padding-left: 2rem;
}
