$color-background: black;
$color-foreground: white;
$color-secondary: rgba($color-foreground, .6);
$color-action: #9FA8DA;  // Denotes actionable area.
$color-accent: #84FFFF;
$color-warning: #FF1744;

$color-half-background: #3F51B5;
$color-half-foreground: white;
$color-half-secondary: rgba($color-half-foreground, .6);
$color-half-action: #9FA8DA;
$color-half-accent: $color-accent;
$color-half-warning: $color-warning;

$color-reverse-background: #1A237E;
$color-reverse-foreground: white;
$color-reverse-secondary: rgba($color-reverse-foreground, .6);
$color-reverse-action: #9FA8DA;
$color-reverse-accent: $color-accent;
$color-reverse-warning: $color-warning;
