$

$color-background: white;
$color-foreground: black;
$color-secondary: rgba($color-foreground, .6);
$color-action: #D32F2F;  // Denotes actionable area.
$color-accent: #00E676;
$color-warning: #F44336;

$color-half-background: #EF9A9A;
$color-half-foreground: $color-foreground;
$color-half-secondary: rgba($color-half-foreground, .6);
$color-half-action: $color-action;
$color-half-accent: $color-accent;
$color-half-warning: $color-warning;

$color-reverse-background: #D32F2F;
$color-reverse-foreground: white;
$color-reverse-secondary: rgba($color-reverse-foreground, .6);
$color-reverse-action: #CFD8DC;
$color-reverse-accent: $color-accent;
$color-reverse-warning: $color-warning;
